<div class="home-container">
  <div class="left-container">
    <app-earning-widget></app-earning-widget>
  </div>
  <div class="right-container">
    <!--
    <app-dashboard-notice></app-dashboard-notice>
    !-->
  </div>
</div>
<!--
<div class="home-container">
  <div class="left-container">
    <app-dashboard-capacity></app-dashboard-capacity>
  </div>
  <div class="right-container">
    <app-dashboard-birthday></app-dashboard-birthday>
  </div>
</div>

<div class="home-container">
  <div class="left-container">
    <app-dashboard-order></app-dashboard-order>
  </div>
  <div class="right-container">&nbsp;</div>
</div>
-->
