.header-navigation {
  display: flex;
  text-align: center;
  overflow: hidden;

  .navigation-container {
    padding: 1rem;

    h5 {
      padding-top: 0.5rem;
      margin: 0;
    }

    .navigation-control-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
}
