<div class="reset-pasword-container">
  <form [formGroup]="resetPasswordFormGroup" class="reset-password-form">
    <div class="reset-password-input">
      <mat-form-field appearance="fill">
        <mat-label>{{
          "auth.resetPassword.email.label" | transloco
        }}</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          [placeholder]="'auth.resetPassword.email.placeholder' | transloco"
        />
        <mat-error
          *ngIf="resetPasswordFormGroup.controls.email.hasError('email')"
        >
          {{ "auth.resetPassword.email.invalidEmail" | transloco }}
        </mat-error>
        <mat-error
          *ngIf="resetPasswordFormGroup.controls.email.hasError('required')"
        >
          {{ "auth.resetPassword.email.invalidEmail" | transloco }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="reset-password-form-action-container">
    <div class="action-btn">
      <button mat-raised-button color="primary" (click)="resetPassword()">
        {{ "auth.resetPassword.action.submit" | transloco }}
      </button>
    </div>
    <div class="action-btn">
      <button mat-raised-button routerLink="../login">
        {{ "auth.resetPassword.action.backToLogin" | transloco }}
      </button>
    </div>
  </div>
</div>
