.reset-pasword-container {
  width: 30vw;
  height: 100vh;
  margin-left: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .reset-password-form {
    display: flex;
    flex-direction: column;

    .reset-password-input {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
    }
  }

  .reset-password-form-action-container {
    display: flex;
    align-items: flex-start;

    .action-btn {
      margin-right: 1rem;
    }
  }
}
